.card{
    margin: auto;
    font-size: 33px;
    width: 590px;
    background-color: aliceblue;
    padding: 30px;
    border-radius: 10px;
}
body{
    background-color: #083344;
}
img{
    width: 100%;
    height: 250px;
    border-radius: 20px;
    border: solid 2px black;
    margin-block: 10px;
}
a{
    padding: 10px;
    border-radius: 2px;
    background-color: azure;
    text-decoration: none;
    color: black;
}
p{
    font-family: 'Montserrat', serif;
}
.teachfont{
    font-family: 'teachers', serif;
}
.voltar{
    position: sticky;
    top:0
}